body{
    margin:0;
font-family: 'roboto';
}

.centered{
    display: flex;
    margin: auto;
}

header{
    width: 100%;
    height: 50px;
    background-color: orange;
}

.header_container{
    max-width: 75%;
    justify-content:space-between;
    align-items: center;
    color: white;
    font-size: small;

}

ul{
    display: flex;
    list-style: none;
}

li{
    padding-right: 10px;
}

.nav_logo{
    max-height: 20px;
    width: auto;
}

.main_container{
    max-width: 75%;
    justify-content:center;
}

.square{
    position: relative;
    width: 100%;
    height: 466px;    
    border: 1px solid;
    margin: 5px;
    max-width: 100%;
}

.square .hover_image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
}

.main_image{
    position: absolute;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.hover_image{
    position: absolute;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.square:hover .hover_image {
    opacity: 1;
  }


