body {
    margin: 0;
    font-family: 'roboto';
}

main{
    margin-top: 4%;
}


/*use it to centre containers*/
.centered {
    display: flex;
    margin: auto;
}


/*header things*/
header {
    width: 100%;
    height: auto;
    background-color: orange;
}

.header_container {
    max-width: 75%;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: small;
    padding-top: 1%;
    padding-bottom: 1% ;

}

/*Fix left side of the navigation bar*/
ul {
    display: flex;
    margin:0;
    list-style: none;
    padding: 0%;
}

li {
    padding-right: 10px;
}

/*fix logo*/
.nav_logo {
    max-height: 20px;
    width: auto;
}

/*end of the header area*/


/*Main area*/
.main_container {
    max-width: 75%;
    justify-content: center;
    padding-bottom: 8%;
}
/*Penso ci sia un modo migliore per fare i quadrati ma non l'ho trovato*/
.square {
    position: relative;
    width: 100%;
    height: 466px;
    margin: 3px;
    max-width: 100%;
}

.square .hover_image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
}

.main_image {
    position: absolute;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.hover_image{
    width: 100%;
}

/*for switch image*/
.square:hover .hover_image {
    opacity: 1;
}

/*heart things*/
.heart {
    position: absolute;
    top: 5px;
    right: 0%;
    z-index: 1;
    width: auto;
    height: auto;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: x-large;
}


/*red discount square*/
.discount {
    position: absolute;
    bottom: 8%;
    left: 0%;
    z-index: 1;
    width: auto;
    height: auto;
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-small;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

/*green square*/
.green_sost {
    position:absolute;
    bottom: 8%;
    left: 0%;
    z-index: 1;
    width: auto;
    height: auto;
    background-color: green;
    color: white;
    text-align: center;
    font-size: x-small;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

/*space */
.green_space{
    left: 14%
}

.square_text{
    position: absolute;
    top:100%;
    z-index: 2;
    text
}


/*text under the image*/
.description{
    margin: 0;
}

.brand{
    margin: 0;
    font-size: small;
}

.price{
    margin: 0;
    font-size: small;
    color: red;
    display: ;
}
.price_old{
    font-weight: lighter;
    color: black;
    text-decoration: line-through;
}

/*end of the main area*/


/*footer area*/
footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

.footer_container{
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 1%;
}
/*end of the footer area*/